* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.profile-picture {
  border-radius: 50%;
  height: 600px;
  width: auto;
  border: 8px solid #fdf0d5;
  box-shadow: -10px 3px 20px 8px rgba(0, 0, 0, 0.44);
}

.sum-prof-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fdf0d5;
  width: 50%;
  margin-right: 20px;
}
