.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.profile-picture {
  border-radius: 50%;
  max-height: 600px;
  display: block;
  max-width: 100%;
  border: 8px solid #fdf0d5;
  box-shadow: -10px 3px 20px 8px rgba(0, 0, 0, 0.44);
}

.sum-prof-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #fdf0d5;
  width: 50%;
  margin: 0rem 3rem;
}
.sum-prof-container h1 {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  font-size: 3rem;
  text-align: center;
}
.sum-prof-container p {
  width: 100%;
  font-size: 1.5rem;
  margin: auto;
}
.console-container {
  display: block;
  max-width: 100%;
  max-height: 20rem;
  width: 100%;
  height: 50rem;
  background-color: black;
  margin-top: 10rem;
  box-shadow: -12px 17px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.console-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}
.console-text a {
  text-decoration: none;
}
.console-circle-small {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 1px;
  margin-top: 5px;
  margin-right: 8px;
  border: none;
  text-align: center;
}

.green {
  background-color: #28f906;
}

.red {
  background-color: #fe0000;
}

.yellow {
  background-color: #f4eb05;
}

.console-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px 14px;
  background: #669bbc;
  border-radius: 10px 10px 0px 0px;
  height: 2rem;
}

.wrap {
  margin-top: 2rem;
  color: #fff;
  font-size: 3rem;
}

.console-arrow {
  height: 3rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media (max-width: 1020px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .wrap {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .console-container {
    height: 15rem;
  }
  .sum-prof-container h1 {
    font-size: 2rem;
  }
  .sum-prof-container p {
    font-size: 1rem;
  }
}
@media (max-width: 720px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .sum-prof-container h1 {
    margin-top: 1rem;
  }
  .wrap {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .console-container {
    height: 10rem;
  }
  .console-arrow {
    height: 1rem;
  }
  .sum-prof-container h1 {
    font-size: 1rem;
  }
  .sum-prof-container p {
    font-size: 0.5rem;
  }
}
