* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

body {
  background-color: #003049;
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
}
h4 {
  size: 1.1125rem;
}
h3 {
  size: 1.125rem;
}
h2 {
  size: 1.25rem;
}
h1 {
  size: 1.5rem;
}
.container {
  height: 100vh;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 72px;
  color: white;
}

.main-container {
  display: block;
}
