* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #669bbc;
}

.nav-bar-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: 3px 0px 3px 91px;
  color: #fdf0d5;
}
.nav-bar-logo-container > img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-right: 10px;
}
.nav-bar-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 20px 91px 20px 0px;
  color: #fdf0d5;
}
.nav-bar-menu-container > h4 {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}
.social-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdf0d5;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  width: 78px;
  height: 173px;
  left: 0px;
  top: 425px;
}
.social-icons {
  width: 50px;
  position: static;
  height: 50px;
  left: 14px;
  top: 106.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}
.pointer {
  cursor: pointer;
}
